.ipynb_checkpoints
*/.ipynb_checkpoints/*

/.quarto/
/_manuscript

/agujournal2019.cls
/trackchanges.sty
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

_targets
data
index
index_files
images/
*html

/_freeze
/*cache
notes.qmd

